body {
   font-family: roboto, sans-serif;
   letter-spacing: 3px;
}

#container {
   width: 100.6%;
   right: 0;
   margin: 0;
}

#list-div {
   background-color: #CBE86B;
   height: 600px;
   width: 360px;
   margin-top: -25px;
   margin-left: -10px;
   padding-top: 50px;
   text-align: center;
}

#list {
   list-style-type: none;
   line-height: 30px;
   margin: 0;
   padding: 0;
}

#frame-div {
   float: right;
   margin-top: 15px;
   width: 1018px;
   height: 615px;
   background-color: #1C140D;
}

#frame-div-ins {
   position: relative;
}

#frame {}

#foot {
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #F2E9E1;
   width: 100%;
   text-align: center;
}
