html {
   height: 100%;
   width: -webkit-fill-available;
}

body {
   font-family: roboto, sans-serif;
   letter-spacing: 3px;
   height: 100%;
   width: -webkit-fill-available;
   margin: 0;
}

#container {
   width: -webkit-fill-available;
   height: -webkit-fill-available;
   right: 0;
   margin: 0;
}

#list-div {
   background-image: linear-gradient(to bottom right, #16ff92, #1cffca);
   margin-top: -25px;
   padding-top: 50px;
   text-align: center;
   overflow-y: auto;
}

::-webkit-scrollbar {
   display: none;
}

.list {
   list-style-type: none;
   line-height: 25px;
   margin: 0;
   padding: 0;
}

#frame-div {
   float: right;
   margin-top: 15px;
   width: 75%;
   height: -webkit-fill-available;
   background-color: #110700;
}

#frame-div-ins {
   position: relative;
}

#frame {}

#foot {
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #fff3f2;
   width: 100%;
   text-align: center;
}
